click==7.1.2
eventlet==0.17.4
Flask==0.12.2
Flask-SocketIO==4.3.1
greenlet==0.4.16
gunicorn==18.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
Werkzeug==1.0.1
